<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Base</title>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">

    <ul class="nav navbar-nav">

        <li><a class ="navbar-brand" href="/create-course/"> Создать курс</a></li>
        <li><a class ="navbar-brand" href="/create-category/"> Создать категорию</a></li>
        <li><a class ="navbar-brand" href="/category-list/"> Список категорий</a></li>
        <li><a class ="navbar-brand" href="/_course-list_/"> Список курсов</a></li>
         <li><a class ="navbar-brand" href="/create-student/"> Создать студента</a></li>
        <li><a class ="navbar-brand" href="/list-student/"> Список студентов</a></li>
        <li><a class ="navbar-brand" href="/add-student/"> Добавить студента</a></li>
        <li><a class ="navbar-brand" href="/about/"> О продукте</a></li>


        <li><a href="#"></a></li>
    </ul>

</nav>


<div class="container">
    {% block body_block %}
{% endblock %}

</div>

</body>
</html>